absl-py==2.1.0
accelerate==0.30.0
aiohttp==3.9.3
aiosignal==1.3.1
apex 
asttokens 
astunparse 
async-timeout==4.0.3
attrs==23.2.0
axonn 
blessed==1.20.0
Brotli 
cached-property 
certifi 
cffi 
charset-normalizer 
click==8.1.7
comm 
contourpy 
cycler 
dataclasses 
datasets==2.17.1
debugpy 
decorator 
dill==0.3.8
dm-tree==0.1.8
docker-pycreds==0.4.0
exceptiongroup 
executing 
filelock==3.13.1
fonttools 
frozenlist==1.4.1
fsspec==2023.10.0
future 
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.42
gmpy2 
gpustat==1.1.1
grpcio==1.62.0
h5py 
huggingface-hub==0.23.4
idna 
imageio==2.34.0
importlib-metadata 
iniconfig==2.0.0
ipykernel 
ipympl 
ipython 
ipython-genutils==0.2.0
ipywidgets 
jedi 
Jinja2==3.1.3
joblib 
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client 
jupyter_core 
jupyterlab_widgets 
kiwisolver 
lazy_loader==0.3
lightning==2.2.0.post0
lightning-utilities==0.10.1
Markdown==3.5.2
MarkupSafe==2.1.5
matplotlib 
matplotlib-inline 
mpi4py==3.1.5
mpmath 
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
munkres==1.1.4
nersc-pymon==0.2.1
nersc-tensorboard-helper
nest_asyncio 
networkx==3.2.1
numexpr 
numpy 
nvidia-dali-cuda120==1.35.0
nvidia-ml-py==12.535.133
opencv-python==4.9.0.80
packaging 
pandas 
parse==1.20.2
parso 
pexpect 
pickleshare 
pillow 
platformdirs 
plotly==5.24.1
pluggy==1.4.0
ply==3.11
prompt-toolkit 
protobuf==4.25.3
psutil 
ptyprocess 
pure-eval 
py-cpuinfo 
pyarrow==15.0.0
pyarrow-hotfix==0.6
pybind11 
pybind11-global 
pycparser 
Pygments 
pyparsing 
PyQt5==5.15.9
PyQt5-sip==12.12.2
PySocks 
pytest==8.0.2
python-dateutil 
pytorch-lightning==2.2.0.post0
pytz 
PyYAML 
pyzmq 
ray==2.9.3
referencing==0.33.0
regex==2024.9.11
requests 
rpds-py==0.18.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
safetensors==0.4.3
scikit-image==0.22.0
scikit-learn 
scipy 
sentry-sdk==1.40.6
setproctitle==1.3.3
sip 
six 
smmap==5.0.1
stack-data 
sympy 
tables 
tenacity==9.0.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
threadpoolctl 
tifffile==2024.2.12
tokenizers==0.19.1
toml 
tomli 
torch==2.1.0
torch-tb-profiler==0.4.3
torch_cluster==1.6.3
torch_geometric==2.5.0
torch_scatter==2.1.2
torch_sparse==0.6.18
torchmetrics==1.3.1
torchvision==0.16.0+fbb4cc5
tornado 
tqdm==4.66.2
traitlets 
transformers==4.40.2
triton==3.0.0
typing_extensions 
tzdata 
unicodedata2 
urllib3 
wandb==0.16.3
wcwidth 
Werkzeug==3.0.1
widgetsnbextension 
xxhash==3.5.0
yarl==1.9.4
zipp 

